    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html, body {
      height: 100%;
    }

    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #f7f7f7;
      font-size: 11px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: #222;
      min-height: 100vh;
    }

    header {
      width: 100%;
      background-color: #969494;
    }

    nav {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0 1rem;
    }

    .nav-left form {
      display: flex;
      gap: 5px;
    }

    .nav-left input[type="search"],
    .nav-left button {
      padding: 8px;
      border-radius: 5px;
      border: none;
      font-size: 11px;
    }

    .nav-left button {
      background-color: #ffffff;
      cursor: pointer;
    }

    .nav-center ul {
      display: flex;
      gap: 10px;
      list-style: none;
    }

    .nav-center a {
      padding: 10px 18px;
      color: #0b0939;
      text-decoration: none;
      transition: all 0.3s ease;
      border-radius: 7px;
    }

    .nav-center a:hover {
      background-color: #ffffff;
      color: #000;
    }

   
    main {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      gap: 1rem;
      flex: 1; 
    }

    .container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }

    .card {
      background-color: #ececec;
      border-radius: 5px;
      padding: 13px;
      flex: 1;
      min-width: 200px;
      text-align: justify;
      font-size: 10px; 
    }

    .card h3 {
      font-size: 12px;
      margin-bottom: 8px;
    }

    .btn {
      display: inline-block;
      padding: 6px 9px;
      cursor: pointer;
      border: none;
      background-color: rgb(255, 255, 255);
      border-radius: 7px;
      font-size: 10px;
      margin-top: 10px;
      transition: all 0.2s ease;
    }

    .btn:hover {
      background-color: #ddd;
    }
    footer {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      background-color: #242121;
      padding: 25px 20px;
      color: #ffffff;
      margin-top: auto; 
    }

    footer ul {
      list-style: none;
    }

    footer ul li {
      margin-bottom: 5px;
    }

    @media (min-width: 768px) {
      body {
        font-size: 13px;
      }

      .row {
        flex-wrap: nowrap;
      }

      .card {
        width: 33%;
      }

      .row.row-2 .card {
        width: 48%;
      }

      .row.row-3 .card {
        width: 100%;
      }
    }